@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Baloo Bhaijaan 2", cursive;
    font-weight: 400;
    color: #111827;
  }
}

.menu-active path, .landing-ico path{
  fill: #FFA866;
}
.menu-active span {
  color: #FFA866;
  font-weight: 500;
}
