@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Baloo Bhaijaan 2", cursive;
    font-weight: 400;
    color: #111827;
  }

  .menu-item:hover path {
    @apply fill-orange !important;
  }

  .menu-item.active {
    @apply bg-orange-100
  }

  .menu-item.active path,
  .landing-ico path {
    @apply fill-orange;
  }
  .menu-item.active span {
    @apply text-orange;
    font-weight: 500;
  }
}
